body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(https://i.makeagif.com/media/5-03-2019/CrHOpF.gif);
  /* background-color: #222; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  text-align: center;
}

.count {
  font-size: 10rem;
  margin-bottom: 2rem;
}

.buttons button {
  margin: 0 10px;
  font-size: 2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #555;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #777;
}
